.game-card {
    display: flex;
    margin-bottom: 15px;
    background-color: #2a475e;
    .card-img-preview {
        width: 260px;
        padding: 10px;
    }
    .game-info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-inline-start: 10px;
    }
    img{
        border-radius: 10px; 
    }
}
