.game-list{
    display: flex;
    flex-wrap: wrap;
    margin-inline-end: 10px;
    gap:20px;
    margin: 0 auto;
    max-width: 900px;
    @media screen and (max-width: 917px) {
        justify-content: center;
    }
    // justify-content:space-evenly;
}