.game-filter {
    display: flex;
    justify-content: center;
    .filter-container {
        padding:2px;
        background-color: $clr1;
        border-radius: 20px;
        box-shadow: 0 -0.5px 2px 1px #2c3050a6;
    }
    .game-search {
        caret-color: rgb(245, 245, 245);
        border: none;
        padding: 10px;
        border-radius: 20px;
        background-color: $clr1;
        
    }
    .game-search:hover {
        background-color: $clr5;
    }
    .game-search::placeholder {
        color: $clr6;
    }
    .game-select {
        cursor: pointer;
        border: none;
        padding: 10px;
        border-radius: 20px;
        background-color: $clr1;
        color: $clr6

    }
    .game-select:hover {
        background-color: $clr5;
    }
    .textarea:focus, input:focus {
        color: $clr6;
    }
}

