.main-header {
    padding: 10px;
    background-color: $clr0;
    a {
        transition: 0.4s;
    }

    nav {
        a {
            font-size: rem(20px);
            text-transform: uppercase;
        }
    }

    .logo {
        color: $clr4;
        font-size: rem(34px);
        margin: 0;
    }
    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: $clr6 span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
    nav a {
        padding: 0 5px;
    }
    .btn-login {
        background-color: #7f8b91;
        background-color: $clr0;
        box-shadow: 0 0px 5px #62b7e8;
        color: $clr4;
        border: 1px solid;
        border-radius: 0.5rem;
        font-size: 1rem;
        margin-inline-start: 10px;
        padding: 0px 8px;
        background: black;
    }
}
