.home-game-preview{
    width: 100%;
    max-width: 200px;
    margin-inline-end: 10px;
    .preview-price{
        background-color: #fff;
        text-align: end;
        p{
            margin-inline-end: 4.5px;
        }
    }
}