.mb-20 {
    margin-bottom: 20px;
}

// img
.s-img {
    width: 229px;
    @include aspect-ratio(16, 9);
}
// btn
.btn-big {
    width: 226px;
    height: 58px;
    font-weight: 300;
    display: inline-block;
    font-size: 18px;
    line-height: 56px;
    color: #66c0f4;
    text-align: center;
    background-position-y: -105px;
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    background: linear-gradient(314deg, #1e78a2, transparent), linear-gradient(314deg, #1a5e80, #3a88af);
}
// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.gap-20 {
        gap: 20px;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}
