.container {
    margin: 0 auto;
    max-width: 380px;
    @media screen and (max-width: 530px) {
        max-width: 95%;
    }
    @media screen and (min-width: 530px) {
        max-width: 90%;
    }
    @media screen and (min-width: 1130px) {
        max-width: 75%;
    }
}
.txt-center {
    text-align: center;
}
.btn {
    cursor: pointer;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-5{
    margin-inline-end: 5px;
}

// img
.s-img {
    width: 229px;
    @include aspect-ratio(16, 9);
}
// btn
.btn-big {
    width: 226px;
    height: 58px;
    font-weight: 300;
    display: inline-block;
    font-size: 18px;
    line-height: 56px;
    color: #66c0f4;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    background: linear-gradient(314deg, #1e78a2, transparent), linear-gradient(314deg, #1a5e80, #3a88af);
    transition: 0.4s;
    @media screen and (max-width: 550px) {
        width: 105px;
        font-size: 12px;
    }
}
.btn-big:hover {
    background: linear-gradient(114deg, #5b8fa7, transparent), linear-gradient(314deg, #00a2f3, #3f8fb7);
}
.btn-big:active {
    background: linear-gradient(114deg, #5b8fa7, transparent), linear-gradient(314deg, #00a2f3, #3f8fb7);
}
// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.gap-10 {
        gap: 10px;
    }
    &.gap-20 {
        gap: 20px;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.space-between {
        justify-content: space-between;
    }
}

.discount {
    margin: 10px 10px;
    color: #a4d007;
    background: #4c6b22;
    display: inline-block;
    padding: 0 3px;
    line-height: 34px;
    padding: 0 5px;
    font-size: 26px;
}
.in-sale {
    text-decoration: line-through;
    color: #626366;
    text-align: center;
    font-size: rem(11px);
    margin-bottom: 0;
}

.dark-txt {
    color: #556772;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 10px;
    min-width: 94px;
}
// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}
