.about {
    padding: 5px;
    color: $clr7;
    font-size: 20px;
    .about-img {
        img {
            max-width: 600px;
            // height: auto;
            object-fit: cover;
        }

    }
}
