.main-details {


    .price-container {
        background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
        border-radius: 4px;
        font-size: 13px;
        color: #c6d4df;
        padding: 16px;
        padding-bottom: 26px;
        margin-bottom: 28px;
        min-width: 65%;
        position: relative;
    }

    .price-info {
        position: absolute;
        bottom: -10%;
        right: 4%;
        background-color: $clr0;
        align-items: center;
        padding: 0;
        height: 36px;
        transform: translate(-4%, 10%);

     
        .f-price {
            color: #acdbf5;
            font-size: 14px;
            padding-inline-end: 6px;
        }
    }

    .sign-in {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
        color: #acb2b8;
        font-size: 14px;
        line-height: 22px;
        padding: 15px 20px;
        a {
            color: $clr4;
            background-color: rgba(103, 193, 245, 0.2);
            border-radius: 2px;
            padding: 0 15px;
            font-size: 15px;
            line-height: 30px;
            border-radius: 2px;
            display: block;
            max-width: 80px;
        }
    }
    h1 {
        font-size: 26px;
        line-height: 32px;
        text-overflow: ellipsis;
        font-weight: normal;
        padding-left: 0px;
        color: $clr7;
        margin-bottom: 10px;
    }
    a {
        cursor: pointer;
    }
    .video-container {
        .player-wrapper,
        img {
            // margin-bottom: 20px;
            @media screen and (min-width: 963px) {
                // margin-bottom: 30px;
            }
        }
        @media screen and (max-width: 740px) {
            // margin-bottom: 20px;
            min-width: 100%;
        }
    }
    .f-price {
        margin: 0 4px;
    }
    .details-container {
        position: relative;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%);

        @media screen and (max-width: 740px) {
            flex-direction: column-reverse;
        }
    }
    .img-container {
        gap: 5px;
        & > div {
            cursor: pointer;
        }
        // @media screen and (max-width: 740px) {
        //     & > div {
        //         min-width: 200px;
        //         max-width: 45%;
        //     }
        //     flex-wrap: wrap;
        // }
        // @media screen and (max-width: 445px) {
        //     & > div {
        //         max-width: 100%;
        //     }
        // }
    }

    .details-info {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        justify-content:space-between;
        @media screen and (max-width: 740px) {
            max-width: 75%;
            margin: 0 auto 35px;
        }
        .dark-txt {
            color: #556772;
            font-size: rem(10px);
        }
        .light-txt {
            color: #67c1f5;
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            color: #c6d4df;
            max-height: 111px;
            overflow: hidden;
            font-size: rem(13px);
            line-height: 18px;
            padding-right: 16px;
        }
    }
    .tag-container > a {
        color: $clr4;
        padding: 0 7px;
        background-color: rgba(103, 193, 245, 0.2);
        border-radius: 2px;
    }
    .tag-container > a:not(:last-child) {
        margin-inline-end: 2px;
    }
    .wishlist-link {
        color: #c6d4df;
        font-size: 1.3rem;

        background: linear-gradient(rgba(0, 0, 0, 0) 0, #14202f 35%);
        padding: 9px;
        margin: 0 0 20px 0;
        a {
            color: $clr7;
        }
    }
    .buy-container {
        margin-bottom: 50px;
        @media screen and (min-width:680px) {
            flex-direction: row;
        }
    }
}
