// .home-page {
//     .ctg-list {
//         display: flex;
//         gap: 10px;
//         margin-bottom: 20px;
//     }
//     // .home-poster {
//     // }
//     .home-game-list.ctg-title {
//         color: #395a81;
//         font-size: rem(35px);
//         .h2 {
//             color: #395a81;
//         }
//     }
// }
.ctg-l-title {
    font-size: 1.9rem;
    color: #5989b4;
    text-shadow: 0 0 1px #f8f8ff;
}

.ctg-s-title {
    font-size: 1.9rem;
    color: #5989b4;
    text-shadow: 0 0 1px #f8f8ff;
}
.btn-view {
    border-color: #17a2b8;
    color: white;
    transition: 0.4s;
}
.btn-view:hover {
    color: white;
    border-color: white;
}

.poster {
    padding: 0 0px 6px 0px;
    object-position: top;
    height: 55vh;
    @media screen and (min-width: 570px) {
        // height: 60vh;
        height: 70vh;
    }
    @media screen and (min-width: 750px) {
        height: 79vh;
        object-fit: cover;
    }
    @media screen and (min-width: 830px) {
        height: 99vh;
    }
}
