// Colors

$clr1: #1a2a3d;
$clr2: #b8b6b4;
$clr3: #9099a1;
$clr4: #67c1f5;
$clr4: #acdbf5;
$clr5: #fff;

$bgc1: #171a21;
$bgc2: #1a2a3e;
$bgc3: rgba(20, 31, 44, 0.8);
$bgc4: linear-gradient(to bottom, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 70%);
$bgc5: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
$bgc6: linear-gradient(to bottom, #e8f5fc 5%, #cce9f9 95%);

// Breakpoints
$mobile-breakpoint: 500px;
$normal-breakpoint: 910px;
